%section#services.section.orange
  .container
    %h4 Services
    .row
      .span3.animated-fast.flyIn
        .service-box
          .services-icon.web-dev
          %h2= t('services.headings.web_dev')
          %p= t('services.text.web_dev')
      .span3.animated.flyIn
        .service-box
          .services-icon.web-design
          %h2= t('services.headings.web_design')
          %p= t('services.text.web_design')
      .span3.animated.flyIn
        .service-box
          .services-icon.mobile
          %h2= t('services.headings.mobile')
          %p= t('services.text.mobile')
      .span3.animated.flyIn
        .service-box
          .services-icon.e-commerce
          %h2= t('services.headings.e_commerce')
          %p= t('services.text.e_commerce')
